.about-box {
  font-family: "Inconsolata", monospace;
  text-align: center;
  margin: 20px 0;
  max-width: 1200px;
  border: 1px dashed #ffffff84;
  color: #030303;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 26px;
  background-color: rgba(158, 254, 219, 0.267);
  box-shadow: 1px 1px 500px rgba(0, 0, 0, 0.257);
  border-radius: 3px;
}

.about-box h2 {
  font-size: 32px;
  margin-top: 0;
}

.about-box span {
  font-size: 18px;
  margin-top: 0;
}

.about-box p {
  font-size: 19px;
  margin-top: 0;
}
