@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

body {
  font-family: 'Inconsolata', monospace;
  margin: 0;
  padding: 0;
  background-color: #7d65a7f8;
}

/* main */

.underConst {
  display: flex;
  flex-direction: column;
  text-align: center;
}

main {
  min-height: 80vh;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#main-section {
  background: rgb(95, 92, 92);
  border-left: 3px solid white;
  border-right: 3px solid white;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

