#contact-box {
   font-family: 'Inconsolata', monospace;
   text-align: center;
   margin: 20px 0;
   max-width: 1200px;
   border: 1px dotted #ffffff5c;
   color: rgb(12, 12, 12);
   padding:40px;
   display: flex;
   flex-direction: column;
   align-items: center;
   line-height: 26px;
   background-color: rgba(158, 254, 219, 0.373);
   box-shadow: 0.1px 0.1px 120px rgba(0, 0, 0, 0.258);

}

#contact-box h2 {
   font-size: 32px;
   margin-top: 0;
}
#contact-box span {
   font-size: 18px;
   margin-top: 0;
   
}
#contact-box p {
   font-size: 20px;
   margin-top: 0;
   
}