.greet-box {
   font-family: 'Montserrat', sans-serif;
   font-family: 'Inconsolata', monospace;
   height: 340px;
   max-width: 450px;
   border:1px dashed #bebebeaf;
   color: white;
   border-radius: 3px;
   padding:40px;
   display: flex;
   flex-direction: column;
   align-items: center;
   background: linear-gradient(0deg,#689985 0%,#5b9591dc 100%);
   box-shadow: 0.1px 0.1px 120px rgba(0, 0, 0, 0.258);

   
}

.greet-box h2 {
   margin: 0px 0 16px ;
   font-size: 52px;
   font-weight: 800;
   line-height: 45px;
   word-spacing: -15px;
}
.greet-box p {
   margin: 15px 0 ;
   font-size: 24px;
   font-weight: 600;
   line-height: 36px;
}

.greet-text {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.greet-box button {
   margin-top: 30px;
   height: 70px;
   font-weight: 900;
   font-size: 28px;
   padding: 10px 15px;
   border: 5px solid rgb(255, 255, 255);
   box-sizing: border-box;
   text-decoration: none;
   font-family: 'Inconsolata', monospace;
   color: #ffffff;
   text-align: center;
   transition: all 0.2s;
   text-shadow: 0.1px 0.1px 2px rgba(69, 69, 69, 0.318);
   background: rgba(0, 0, 0, 0.127);
   border: 4px solid #ffffff;
 }
 
.greet-box  button:hover {
   color: #222222;
   background: rgba(255, 255, 255, 0.904);
   box-shadow: 0.1px 0.1px 2px rgba(0, 0, 0, 0.416) inset,0.1px 0.1px 20px rgba(0, 75, 68, 0.16) inset,;
   border: 6px solid #59bedcd8;
   cursor: pointer;

 }