.post-card {
   width: 1000px;
   height: 140px;
   background-color: rgb(255, 255, 255);
   padding: 10px 10px 10px 0;
   border: 3px solid rgba(95, 95, 95, 0.199);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   border-radius: 5px;
   box-shadow: 0.1px 1px 60px rgba(45, 47, 46, 0.27);
}

.avatar {
   width: 140px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: none;
   flex-direction: column;
   border-right: 1px dotted rgba(0, 0, 0, 0.429) ;
}

.avatar p {
   margin: 5px 0 0;
   font-weight: 700;
   color: rgb(49, 28, 3);
}

.avatar img {
   width:70%;
   height: 70%;
   object-fit: cover;
   border-radius: 80px;
   border: 2px solid rgba(12, 2, 18, 0.722);
}

.custom-link {
   overflow: hidden;
}
.post-vote {
   background-color: none;
   width: 80px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-left: 1px dotted rgba(0, 0, 0, 0.429) ;
}
.post-vote button {
   font-size: 26px;
   height: 30px;
   background: none;
   border: none;
   
   text-shadow: 0.2px 0.2px 1px rgb(0, 0, 0);
}
.post-vote button:hover {
   
   background: none;
   border: none;
}

.but-up:hover {
   color: rgba(76, 172, 124, 0.904);
   

}
.but-down:hover {
   color: rgba(153, 96, 134, 0.877);
}
.post-text-area {
   width: 700px;
}

.active {
   text-decoration: none;
}

.custom-link {
   text-decoration: none;
   color: inherit;
 }
