.user-page {

   font-family: 'Inconsolata', monospace;
   text-align: center;
   margin: 20px 0;
   width: 500px;
   border: 1px dashed #ffffff5c;
   color: rgb(12, 12, 12);
   padding:40px;
   display: flex;
   flex-direction: column;
   align-items: center;
   line-height: 26px;
   border-radius: 3px;
   background: linear-gradient(0deg,#68998550 0%,#5b9591c9 100%);
   box-shadow: 0.1px 0.1px 120px rgba(0, 0, 0, 0.258);

}

h2 {
   color: white;
}

.user-page img {
   border-radius: 10px;
   border: 2px dotted rgba(0, 0, 0, 0.404);
   width:280px;
   height:280px;
}